body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #af5959;
}

.accordion {
    width: 300px;
}

.accordion-section {
    border-bottom: 1px solid #ddd;
}

.accordion-title {
    background-color: #f9f9f9;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.accordion-content {
    padding: 10px;
    display: none;
}

.accordion-content.show {
    display: block;
}